<a href="https://colab.research.google.com/github/falwa-alkhalifah/Mining-project/blob/main/phase2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
from scipy import stats
import numpy as np

url = 'https://raw.githubusercontent.com/falwa-alkhalifah/Mining-project/refs/heads/main/Dataset/Dataset%20of%20Diabetes%20.csv'

df  = pd.read_csv(url)

**Summmry of dataset and statical summaries**:

In [4]:
#samples of dataset:
print(df.head())

    ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0  502      17975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1  735      34221      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2  420      47975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3  680      87656      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4  504      34223      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4

    BMI CLASS
0  24.0     N
1  23.0     N
2  24.0     N
3  24.0     N
4  21.0     N

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB

In [6]:
df.describe()

,ID,No_Pation,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
count,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,340.500000,2.705514e+05,53.528000,5.124743,68.943000,8.281160,4.862820,2.349610,1.204750,2.609790,1.854700,29.578020
std,240.397673,3.380758e+06,8.799241,2.935165,59.984747,2.534003,1.301738,1.401176,0.660414,1.115102,3.663599,4.962388
min,1.000000,1.230000e+02,20.000000,0.500000,6.000000,0.900000,0.000000,0.300000,0.200000,0.300000,0.100000,19.000000
25%,125.750000,2.406375e+04,51.000000,3.700000,48.000000,6.500000,4.000000,1.500000,0.900000,1.800000,0.700000,26.000000
50%,300.500000,3.439550e+04,55.000000,4.600000,60.000000,8.000000,4.800000,2.000000,1.100000,2.500000,0.900000,30.000000
75%,550.250000,4.538425e+04,59.000000,5.700000,73.000000,10.200000,5.600000,2.900000,1.300000,3.300000,1.500000,33.000000
max,800.000000,7.543566e+07,79.000000,38.900000,800.000000,16.000000,10.300000,13.800000,9.900000,9.900000,35.000000,47.750000

The variance values indicate how spread out the data points are for each column. The column No_Pation has the highest variance, meaning its values are highly dispersed, while HDL has the lowest variance, showing less variation in the data.

In [9]:
# excepting the column 'ID' bc they're IDs & No_pation for containing letters

numeric_cols = df.iloc[:, 2:].select_dtypes(include=['number']).columns
overall_variance = df[numeric_cols].var()
print("Overall Variance:\n", overall_variance)

Overall Variance:
 AGE        77.426643
Urea        8.615196
Cr       3598.169921
HbA1c       6.421172
Chol        1.694521
TG          1.963294
HDL         0.436146
LDL         1.243452
VLDL       13.421960
BMI        24.625296
dtype: float64

**missing values**:

In [10]:
Missing_Values = df.isna().sum()
print(Missing_Values)

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

**Graphs**:

**Correlation Analysis**:

**----------------------------------------------**

**Data Cleaning**:

**Dublicate Data**:
First, eliminating any duplicate rows, if any: As shown below we didn't find any duplicated rows.

In [ ]:
# Check for duplicates
duplicates = df.duplicated()
# Print the number of duplicate rows
print("Number of duplicate rows:", duplicates.sum())

Number of duplicate rows: 0

**filling missing values**: As shown above there is no any Null values in our data set, but We believe that the zeros in some columns such as HbA1c,
,Chol,TG,HDL,LDL,VLDL,BMI are actually missing values ​​and have been filled with zeros; due to the fact that these values can not be 0 for any human. So we decided to treat these zeros in the mentioned columns as missing values and then replace it with the mean of the column.

In [ ]:
# Specify the columns to modify
columns_to_modify = ['HbA1c', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL', 'BMI',]

# Calculate the mean for each column and replace 0s with the mean
for column in columns_to_modify:
    mean_value = df[column].replace(0, pd.NA).mean()  # Calculate mean excluding 0s
    df[column] = df[column].replace(0, mean_value)  # Replace 0s with the mean

# Print the modified DataFrame
print(df)

      ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0    502      17975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1    735      34221      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2    420      47975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3    680      87656      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4    504      34223      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4
..   ...        ...    ...  ...   ...  ..    ...   ...  ...  ...  ...   ...
995  200     454317      M   71  11.0  97    7.0   7.5  1.7  1.2  1.8   0.6
996  671     876534      M   31   3.0  60   12.3   4.1  2.2  0.7  2.4  15.4
997  669      87654      M   30   7.1  81    6.7   4.1  1.1  1.2  2.4   8.1
998   99      24004      M   38   5.8  59    6.7   5.3  2.0  1.6  2.9  14.0
999  248      24054      M   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7

      BMI CLASS
0    24.0     N
1    23.0     N
2    24.0     N
3    24.0     N
4    21.0     N
..    ...   ...
995  30.0     Y
996  37.2    Y
997  27.4    Y
998  40.5    Y
999  33.0    Y

[1000 rows x 14 columns]

**detect and remove outliers**:
 identify outliers by using IQR method, calculating the range between the first quartile (Q1) and the third quartile (Q3), then we removed detected outliers.

In [ ]:
df_numeric = df.select_dtypes(include=['number'])

# Calculate IQR
Q1 = df_numeric.quantile(0.25)
Q3 = df_numeric.quantile(0.75)
IQR = Q3 - Q1

# Detect Outliers
outliers = ((df_numeric < (Q1 - 1.5 * IQR)) | (df_numeric > (Q3 + 1.5 * IQR))).any(axis=1)

# Remove Outliers
df_cleaned = df[~outliers]


print("number of outliers", outliers.sum())
print("data after cleaning:")
print(df_cleaned)

number of outliers 371
data after cleaning:
      ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
5    634      34224      F   45   2.3  24    4.0   2.9  1.0  1.0  1.5   0.4
6    721      34225      F   50   2.0  50    4.0   3.6  1.3  0.9  2.1   0.6
7    421      34227      M   48   4.7  47    4.0   2.9  0.8  0.9  1.6   0.4
13   132      34234      F   45   4.6  54    5.1   4.2  1.7  1.2  2.2   0.8
14   402      34235      F   50   3.5  39    4.0   4.0  1.5  1.2  2.2   0.7
..   ...        ...    ...  ...   ...  ..    ...   ...  ...  ...  ...   ...
965  159      45446      M   54   5.0  88    6.8   6.7  3.7  0.9  2.9   1.7
973  170      45395      M   50   4.8  70    8.0   5.2  2.7  1.4  2.7   1.2
978  176      45445      M   52   5.1  70    7.0   7.5  1.7  1.2  1.8   0.6
991  195       4543      f   55   4.1  34   13.9   5.4  1.6  1.6  3.1   0.7
999  248      24054      M   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7

      BMI CLASS
5    21.0     N
6    24.0     N
7    24.0     N
13   23.0     N
14   24.0     N
..    ...   ...
965  32.0     Y
973  20.0     Y
978  30.0     Y
991  33.0     Y
999  33.0    Y

[629 rows x 14 columns]

**----------------------------------------------**

**Data Transformation**:

**Normlization**:
Normalization was performed to ensure consistent data scale. The normalization technique applied is max-min normalization. This technique scales specific attribute values ​​to a specified range from 0 to 1. The following attributes were selected for normalization: ['BMI', 'Urea', 'Cr','Chol', 'TG', 'HDL', 'LDL', 'VLDL','HbA1c']

In [ ]:
#Extract Columns to normlize
columns_to_normalize = ['BMI', 'Urea', 'Cr','Chol', 'TG', 'HDL', 'LDL', 'VLDL','HbA1c']
data_to_normlize = df[columns_to_normalize]
#Min-Max scaling for selected columns
minmax_scaler = MinMaxScaler()
normlized_data_minmax = minmax_scaler.fit_transform(data_to_normlize)

#Replace the normlized values in the original DataFrame
df[columns_to_normalize] = normlized_data_minmax

print("min-max scaled data:")

print(df)

min-max scaled data:
      ID  No_Pation Gender  AGE      Urea        Cr     HbA1c      Chol  \
0    502      17975      F   50  0.109375  0.050378  0.264901  0.407767
1    735      34221      M   26  0.104167  0.070529  0.264901  0.359223
2    420      47975      F   50  0.109375  0.050378  0.264901  0.407767
3    680      87656      F   50  0.109375  0.050378  0.264901  0.407767
4    504      34223      M   33  0.171875  0.050378  0.264901  0.475728
..   ...        ...    ...  ...       ...       ...       ...       ...
995  200     454317      M   71  0.273438  0.114610  0.403974  0.728155
996  671     876534      M   31  0.065104  0.068010  0.754967  0.398058
997  669      87654      M   30  0.171875  0.094458  0.384106  0.398058
998   99      24004      M   38  0.138021  0.066751  0.384106  0.514563
999  248      24054      M   54  0.117188  0.076826  0.397351  0.368932

           TG       HDL       LDL      VLDL       BMI CLASS
0    0.044444  0.226804  0.114583  0.011461  0.173913     N
1    0.081481  0.092784  0.187500  0.014327  0.139130     N
2    0.044444  0.226804  0.114583  0.011461  0.173913     N
3    0.044444  0.226804  0.114583  0.011461  0.173913     N
4    0.051852  0.061856  0.177083  0.008596  0.069565     N
..        ...       ...       ...       ...       ...   ...
995  0.103704  0.103093  0.156250  0.014327  0.382609     Y
996  0.140741  0.051546  0.218750  0.438395  0.633043    Y
997  0.059259  0.103093  0.218750  0.229226  0.292174    Y
998  0.125926  0.144330  0.270833  0.398281  0.747826    Y
999  0.103704  0.092784  0.281250  0.017192  0.486957    Y

[1000 rows x 14 columns]


**discretization**: we applied discretization to the "Age" column to simplify the continuous age data by grouping it into meaningful age ranges, the ranges are [0-30 , 31-50 , 51-100] This helps reduce noise, improve interpretability, and may enhance model performance by capturing patterns more effectively in categories rather than treating age as a continuous variable.

In [ ]:
#Discretization for column (Age)
columns_to_Discretize = 'AGE'

#The boundaries of the bins
bns = [0, 30 , 50 , 100]

#Labels for the age groups
labls = ['0-30' , '31-50' , '51-100']

#Perform discretization using cut function
df['AgeGroup'] = pd.cut(df[columns_to_Discretize] , bins=bns , labels= labls )

#Display the Discretizied columns
print("original DataFrame:")
print(df[['AGE' ,'AgeGroup']])

original DataFrame:
     AGE AgeGroup
0     50    31-50
1     26     0-30
2     50    31-50
3     50    31-50
4     33    31-50
..   ...      ...
995   71   51-100
996   31    31-50
997   30     0-30
998   38    31-50
999   54   51-100

[1000 rows x 2 columns]

**Encoding**: Encoding the class And Gender columns, by converting categorical values into numerical format,to ensures all data is numeric and consistent for analysis and modeling.

In [ ]:
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])
df['CLASS'] = le.fit_transform(df['CLASS'])
print(df)

      ID  No_Pation  Gender  AGE      Urea        Cr     HbA1c      Chol  \
0    502      17975       0   50  0.109375  0.050378  0.264901  0.407767
1    735      34221       1   26  0.104167  0.070529  0.264901  0.359223
2    420      47975       0   50  0.109375  0.050378  0.264901  0.407767
3    680      87656       0   50  0.109375  0.050378  0.264901  0.407767
4    504      34223       1   33  0.171875  0.050378  0.264901  0.475728
..   ...        ...     ...  ...       ...       ...       ...       ...
995  200     454317       1   71  0.273438  0.114610  0.403974  0.728155
996  671     876534       1   31  0.065104  0.068010  0.754967  0.398058
997  669      87654       1   30  0.171875  0.094458  0.384106  0.398058
998   99      24004       1   38  0.138021  0.066751  0.384106  0.514563
999  248      24054       1   54  0.117188  0.076826  0.397351  0.368932

           TG       HDL       LDL      VLDL       BMI  CLASS AgeGroup
0    0.044444  0.226804  0.114583  0.011461  0.173913      0    31-50
1    0.081481  0.092784  0.187500  0.014327  0.139130      0     0-30
2    0.044444  0.226804  0.114583  0.011461  0.173913      0    31-50
3    0.044444  0.226804  0.114583  0.011461  0.173913      0    31-50
4    0.051852  0.061856  0.177083  0.008596  0.069565      0    31-50
..        ...       ...       ...       ...       ...    ...      ...
995  0.103704  0.103093  0.156250  0.014327  0.382609      3   51-100
996  0.140741  0.051546  0.218750  0.438395  0.633043      4    31-50
997  0.059259  0.103093  0.218750  0.229226  0.292174      4     0-30
998  0.125926  0.144330  0.270833  0.398281  0.747826      4    31-50
999  0.103704  0.092784  0.281250  0.017192  0.486957      4   51-100

[1000 rows x 15 columns]

**----------------------------------------------**

**Features Selection**:

In [ ]:
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.preprocessing import LabelEncoder


df['Gender'] = LabelEncoder().fit_transform(df['Gender'])
df['CLASS'] = LabelEncoder().fit_transform(df['CLASS'])

X = df.drop(columns=["CLASS"])
y = df["CLASS"]
selector = SelectKBest(score_func=f_classif, k=5)
X_new = selector.fit_transform(X, y)

selected_features = X.columns[selector.get_support()]
print("Selected Features:", selected_features.tolist())

Selected Features: ['AGE', 'HbA1c', 'Chol', 'TG', 'BMI']

In [ ]:
from sklearn.feature_selection import VarianceThreshold

selector = VarianceThreshold(threshold=0.1)
X_new = selector.fit_transform(X)

selected_features = X.columns[selector.get_support()]
print("Selected Features after Variance Threshold:", selected_features.tolist())

Selected Features after Variance Threshold: ['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL', 'BMI']